doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 my App
    block content
    script(src='/javascripts/dist/vue.js')
    script(src='/javascripts/app/main.js')
